@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url('../fonts/ptsans-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  background-color: #F2F2F2;
  font-style: normal;
  font-size: 22px;
  color: #333333;
  min-height: 100%;
}
.container {
  margin:0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*  li {
    list-style: none;
  }*/
  a {
    text-decoration: none;
    font-family: inherit;
  }
  input {
    font-family: inherit;
  }
  button {
    font-family: inherit;
  }
  select {
    font-family: inherit;
  }
  ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.visually-hidden {
  position: fixed;
  transform: scale(0);
}
.page-header {

}
.navigation {
  display: flex;
  column-gap: 30px;
  margin: 0 auto;
  width: 1200px;
}
.navigation-logo {
  position: relative;
  z-index: 2;
  margin-left: 70px;
  margin-bottom: -12px;

}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 450px;
}
.navigation-item {
  position: relative;
}
.underlined::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 68px;
  height: 2px;
  background: #756257;
}
.underlined-hotels::after {
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  width: 93px;
  height: 2px;
  background: #756257;
}
.navigation-link {
  display: inline-block;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 16px;
}
.search {
  display: block;
  background-size: 100%;
  background-image: url('../images/search.svg');
  width: 20px;
  height: 20px;
}
.favorites {
  display: block;
  position: relative;
  background-size: 100%;
  background-image: url('../images/favorites.svg');
  width: 20px;
  height: 20px;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.favorites-text {
  display: block;
  position: absolute;
  margin-left: 20px;
  font-size: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 2;
  top: -10px;
  right: -10px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  color: #000000;
  max-width: 290px;
  margin-left: auto;
  margin-right: 70px;
}
.navigation-user-item {

}

.with-icon {
  padding: 20px 12px;
}

.with-button {
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.navigation-user-link {
  display: inline-block;
  text-decoration: none;
}
.navigation-booking {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 34px;
}
.filter {
  background-image: url('../images/catalog/filter-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 35px 70px 70px 70px;
}
.page-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.3;
  margin: 0;
}
.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  line-height: 1.31;
}
.breadcrumbs-link-main {
  display: inline-block;
  background-image: url('../images/breadcrumbs-home.svg');
  height: 12px;
  width: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.breadcrumbs-link::before {
  display: inline;
  content: ">";
  margin-right: 5px;
  color: #ffffff;
}

.breadcrumbs-item {

}

.form-wrapper {
  display: flex;
  justify-content: space-between;
}
.main {
  flex-grow: 1;
}
.logo-welcome {
   background-color: #82B3D3;
   background-image: url('../images/index/divider.svg'), url('../images/index/index-background.jpg');
   background-repeat: no-repeat;
   background-position: bottom, center;
   background-size: 100%, cover;
 }
.logo-welcome-img {
  padding-top: 51px;
  padding-bottom: 51px;
  margin: 0 auto;
  display: block;
}
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.hotels-catalog {
  display: flex;
  flex-direction: column;
}

.description {
  margin: 96px auto;
}
.description-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
}
.description-text {
  text-align: center;
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
/*  margin-bottom: 64px;*/
}
.advantages {
  text-align: center;

}
.advantages-text {
  margin-top: 69px;
  margin-bottom: 90px;
}
.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;

}
.advantages-item {
  width: 400px;
  min-height: 385px;
  align-content: center;
}
.advantages-image {

}
.advantages-image-right {
  display: inline-block;
  margin-right: auto;
  vertical-align: middle;
}
.advantages-image-left {
  display: inline-block;
  margin-left: auto;
  vertical-align: middle;
}
.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
/*  width: 175px;*/
  margin: 0 auto;
}

.dark-stripe::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000000;
  opacity: 30%;
  margin: 30px auto;
}

.light-stripe::before {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #ffffff;
  opacity: 30%;
  margin: 30px auto;
}
.advantages-wrapper {
  padding: 102px 85px;
}

.advantages-description {
  font-size: 18px;
  line-height: 1.17;
/*  width: 230px;*/
  margin: 0 auto;
}
.reasons {
  text-align: center;
  margin: 0 auto;
}

.reasons-text {
  margin-top: 64px;
  margin-bottom: 64px;
}
.reasons-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.reasons-item {
  width: 400px;
  min-height: 385px;
  align-content: center;
}
.reasons-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-transform: uppercase;
}
.house::before {
  content: "";
  display: block;
  background-image: url('../images/index/house-icon.svg');
  width: 75px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 30px auto;

}
.food::before {
  content: "";
  display: block;
  background-image: url("../images/index/food-icon.svg");
  width: 74px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 30px auto;
}
.gift::before {
  content: "";
  display: block;
  background-image: url("../images/index/gift-icon.svg");
  width: 64px;
  height: 76px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 30px auto;
}

.reasons-description {
  font-size: 18px;
  line-height: 1.17;
  width: 230px;
  margin: 0 auto;

}
.booking {
  display: block;
  width: 376px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 2.6;
  height: 52px;
  background-color: #756157;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.subscribe {
  text-align: center;
  margin: 0 auto;
  width: 1200px;
}
.subscribe-wrapper {
  margin-top: 96px;
  margin-bottom: 104px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.subscribe-text {
  margin: 0;
  width: 475px;
  padding-left: 363px;
  text-align: center;
  font-size: 22px;
  color: #333333;
  padding-bottom: 54px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  min-width: 700px;
  margin: 0 auto;
}
.subscribe-label {
  align-self: center;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  opacity: 0.6;
}
.subscribe-email {
  width: 452px;

}
.subscribe-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.8;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  padding: 8px 50px;
  background-color: #82B3D3;
  color: #ffffff;
}
.with-background {
  background-image: url("../images/index/subscribe-background.jpg");
/*  height: 415px;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.white {
  color: #ffffff;
}
.dark-blue-bg {
  background-color: #82B3D3;
}
.blue-bg {
  background-color: rgba(130, 179, 211, 0.2);
}
.light-blue-bg {
  background-color: rgba(130, 179, 211, 0.12);

}
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.footer-social {

}
.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin-left: 70px;
}
.footer-social-item {

}
.vk {
  display: inline-block;
  background-size: cover;
  background-image: url("../images/vk.svg");
  width: 24px;
  height: 14px;
}
.telegram {
  display: inline-block;
  background-size: cover;
  background-image: url("../images/telegram.svg");
  width: 18px;
  height: 16px;
}
.youtube {
  display: inline-block;
  background-size: cover;
  background-image: url("../images/youtube.svg");
  width: 22px;
  height: 17px;
}
.social-link {

}
.footer-contacts {

}
.footer-contacts-address {

}
.footer-contacts-address-phone {
  color: #000000;
  font-style: normal;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;

}
.company {

}
.company-logo {
  margin-right: 70px;
}
.housing-choice {
}
.housing-catalog-apply-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  border-radius: 4px;
  border-color: rgba(0, 0, 0, 0);
  padding: 8px 50px;
  width: 191px;
  height: 36px;
  background-color: #82B3D3;
  color: inherit;
}
.housing-catalog-reset-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  width: 191px;
  height: 36px;
  color: inherit;
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

.form-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
}
.infrastructure {
min-width: 150px;
}
.infrastructure-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;

}
.infrastructure-choice-item {
  font-size: 16px;
  line-height: 1.28;
  margin-right: auto;
}
.infrastructure-item {

}
.accommodation {
  min-width: 150px;
}
.accommodation-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}
.accommodation-choice-item {
  font-size: 16px;
  line-height: 1.28;
  margin-right: auto;
}
.accommodation-item {
}
.select-control {
  font-size: 18px;
  line-height: 1.17;
  height: 50px;
}
.view-button-list {
 display: flex;
 width: 160px;
  justify-content: space-around;
}

.view-item {

}

.view-link {
  display: inline-block;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
.view-link:hover {
  border-color: #000000;
}

.piles {
  background-image: url("../images/catalog/view-piles.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17px 16px;
}
.cards {

  background-image: url("../images/catalog/view-cards.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17px 16px;
}
.roll {
  background-image: url("../images/catalog/view-list.svg");
  width: 16px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 17px 16px;
}
.button-selected {
  border-color: #000000;
}
.sorting {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  margin-right: 70px;
}
.hotel-found {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;

}
.hotel-card {
  width: 340px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  margin-bottom: 15px;
}
.hotel-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.hotel-description {
  font-size: 18px;
  line-height: 1.17;
}
.hotel-price {
  font-size: 18px;
  line-height: 1.17;
}
.details {
  border-radius: 4px;
  padding: 8px 50px;
  width: 140px;
  height: 36px;
  background-color: #756157;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.to-favorites {
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #82B3D3;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.added-to-favorites {
  border-radius: 4px;
  padding: 8px 50px;
  background-color: #7DB54F;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
.stars-4 {
  display: block;
  background-image: url('../images/catalog/star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.stars-3 {

}
.stars-2 {

}
.rating {
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  text-align: center;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  height: 37px;
}
.pagination {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  display: flex;
  padding-inline-start: 0;
  margin-left: 70px;
}

.hotels-catalog::after {
  content: "";
  display: inline;
  width: 1060px;
  height: 1px;
  background: #E6E6E6;
  margin: 30px auto;
}

.pagination-item {

}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
  line-height: 3;
}
.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-break {
  display: block;
  width: 60px;
  height: 60px;
  color: #000000;
  line-height: 3;
}
